/* ==UserStyle==
@name        Worms - Solarized Light
@namespace   github.com/matthewboonstra
@version     0.5.0
@description Solarized Light user CSS style for https://parahumans.wordpress.com (blog entries only)
@author      Matthew Boonstra
==/UserStyle== */

@-moz-document url-prefix("https://parahumans.wordpress.com/20") {
    #page,
    .single-post,
    .comment,
    .commentlist > li.comment,
    .commentlist .children li.comment,
    #site-generator {
        background-color: #fdf6e3;
    }
    .entry-title,
    #respond h3 {
        color: #073642 !important;
        font-family: "Palatino", "Book Antigua", "Georgia";
    }
    .entry-content p {
        color: #073642 !important;
        font-size: 16px;
        line-height: 24px;
        font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    }
    a,
    #site-title a {
        color: #b58900;
    }
    #comments p {
        color: #1d1d1d;
    }
}
